<template>
    <div>

        <div class="container text-center">
            <div class="row">
                <div class="round hollow text-center">
                    <a href="#" id="addClass"><span class="glyphicon glyphicon-comment"></span> GrupChat </a>
                
                </div>
                <hr>
            </div>
        </div>


        <div class="popup-box chat-popup" id="qnimate">

            <div class="popup-head">
                <div class="popup-head-left pull-left"><a 
                        target="_blank" href="">
                        <img class="md-user-image" alt="Grup" 
                            src="https://png2.kisspng.com/20180728/zbz/kisspng-computer-icons-icon-design-users-group-group-icon-5b5c712f88d705.0999430315327849435605.png">
                        <h1>Grup</h1>
                    </a></div>
                <div class="popup-head-right pull-right">
                    <button class="chat-header-button" type="button"><i class="glyphicon glyphicon-facetime-video"></i></button>
                    <button class="chat-header-button" type="button"><i class="glyphicon glyphicon-earphone"></i></button>
                    <div class="btn-group gurdeepoushan">
                        <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
                            <i class="glyphicon glyphicon-paperclip"></i> </button>
                        <ul role="menu" class="dropdown-menu pull-right">
                            <li><a href="#"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                    Location</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact</a></li>
                        </ul>
                    </div>

                    <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i
                            class="glyphicon glyphicon-remove"></i></button>
                </div>
            </div>

            <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active"
                style="opacity: 1; display: block; transform: translateX(0px);">
                <div class="chat_box touchscroll chat_box_colors_a" v-for="(message, index) in allMessages" :key="index"  >
                    <div class="chat_message_wrapper"  :align-end="(user.id!==message.user.id)" > 
                        <div class="chat_user_avatar"> 
                            <a href="#" target="_blank">
                                <img alt="" src="https://image.flaticon.com/icons/png/512/149/149071.png"
                                    class="md-user-image">
                            </a>
                        </div>
                        
                        <ul class="chat_message" :color="(user.id!==message.user.id)?'red':'green'">
                            <p>{{message.user.name}}</p>
                            <li>
                                <p>{{message.message}}<span class="chat_message_time">{{message.created_at}}</span>
                                </p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="chat_submit_box">
                <div class="uk-input-group">
                    <div class="gurdeep-chat-box">
                        <span style="vertical-align: sub;" class="uk-input-group-addon">
                            <a href="#"><i class="fa fa-smile-o"></i></a>
                        </span>
                        <input type="text" v-model="message" placeholder="Type a message" id="submit_message" name="submit_message"
                            class="md-input">
                        <span style="vertical-align: sub;" class="uk-input-group-addon">
                            <a @click="sendMessage"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>

                    <span class="uk-input-group-addon">

                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user'],
        data() {
            return {
                message: null,
                allMessages: []
            }
        },
        methods: {
            sendMessage() {
                //check if there message
                if (!this.message) {
                    return alert('Please enter message');
                }
                axios.post('/messages', {
                    message: this.message
                }).then(response => {
                    this.message = null;
                    this.allMessages.push(response.data.message)
                    setTimeout(this.scrollToEnd, 100);
                });
            },
            fetchMessages() {
                axios.get('/messages').then(response => {
                    this.allMessages = response.data;
                });
            },
            scrollToEnd() {
                window.scrollTo(0, 99999);
            }

        },
        mounted() {},
        created() {
            this.fetchMessages();
            Echo.private('chatApp')
                .listen('MessageSent', (e) => {
                    this.allMessages.push(e.message)
                    setTimeout(this.scrollToEnd, 100);
                });
        }

    }

</script>

<style scoped>
    .chat-card {
        margin-bottom: 140px;
    }

</style>
