<template>
    <div>
        <div class="row">
            <div class="col-sm-3">
                <div class="thumbnail" v-for="chats in friends" :key="chats.id">
                    <img src="https://image.flaticon.com/icons/png/512/149/149071.png" alt="..." style="heigth:150px;width:150px">
                    <div class="caption text-center">
                        <h3>{{chats.name}}</h3>
                        <span :color="(onlineChat.find(user=>user.id===chats.id))?'green':'red'">account_circle</span>
                        <p><a @click="activeChat=chats.id" class="btn btn-primary" role="button">Chat</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card" id="privateMessageBox" >
                    <div class="card-header">Chats</div>
                    <div class="card-body">
                        <div class="chat__message" v-for="(message, index) in allMessages" :key="index">
                            <div class="message self" :align-end="(user.id!== message.user.id)">
                                <strong class="user">{{message.user.name}}</strong>
                                <p class="body" :class="(user.id!== message.user.id)?'red':'green'">{{message.message}}</p>
                            </div>

                        </div>
                        <form class="form">
                            <textarea v-model="message" placeholder="ketik sesuatu" id="submit_message" name="submit_message"
                                class="md-input" style="width:94%; background-color:#f9f4f3;color:black;" > </textarea>
                            <span style="vertical-align: sub;" class="uk-input-group-addon">
                                <a @click="sendMessage"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </a>
                            </span>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user'],

        data() {
            return {
                message: null,
                activeChat: null,
                onlineChat: [],
                allMessages: [],
                users: [],
            }
        },
        computed: {
            friends() {
                return this.users.filter((user) => {
                    return user.id !== this.user.id;
                })
            }
        },
        watch: {
            activeChat(val) {
                this.fetchMessages();
            }
        },
        methods: {
            
            sendMessage() {
                //check if there message
                if (!this.message) {
                    return alert('Masukan Pesan');
                }
                if (!this.activeChat) {
                    return alert('pilih orang');
                }
                axios.post('/private-messages/' + this.activeChat, {
                    message: this.message
                }).then(response => {
                    this.message = null;
                    this.allMessages.push(response.data.message)
                    setTimeout(this.scrollToEnd, 100);
                });
            },
            fetchMessages() {
                if (!this.activeChat) {
                    return alert('pilih orang terlebih dahulu');
                }
                axios.get('/private-messages/' + this.activeChat).then(response => {
                    this.allMessages = response.data;
                });
            },
            fetchUsers() {
                axios.get('/users').then(response => {
                    this.users = response.data;
                    if (this.friends.length > 0) {
                        this.activeChat = this.friends[0].id;
                    }
                });
            },
            scrollToEnd() {
                document.getElementById('privateMessageBox').scrollTo(0, 99999);
            }

        },
        mounted() {},
        created() {
            Fire.$on('AfterCreate', () => {
                this.fetchMessages();
            });
            this.fetchUsers();
            Echo.join('chatApp')
                .here((users) => {
                    console.log('online', users);
                    this.onlineChat = users;
                })
                .joining((user) => {
                    this.onlineChat.push(user);
                    console.log('joining', user.name);
                })
                .leaving((user) => {
                    this.onlineChat.splice(this.onlineChat.indexOf(user), 1);
                    console.log('leaving', user.name);
                });

            Echo.private('privatechat.' + this.user.id)
                .listen('PrivateMessageSent', (e) => {
                    console.log('sent')
                    this.activeChat = e.message.user_id;
                    this.allMessages.push(e.message)
                    setTimeout(this.scrollToEnd, 100);
                })
                .listenForWhisper('typing', (e) => {
                    if (e.user.id == this.activeChat) {
                        this.typingFriend = e.user;

                        if (this.typingClock) clearTimeout();
                        this.typingClock = setTimeout(() => {
                            this.typingFriend = {};
                        }, 9000);
                    }

                });
        }

    }

</script>

<style>
    .message-area {
        height: 400px;
        max-height: 400px;
        overflow-y: scroll;
        padding: 15px;
        border-bottom: 1px solid #eee;
    }

    .form {
        padding: 8px;
    }

    .form-input {
        width: 100%;
        border: 1px solid #d3e0e9;
        padding: 5px 10px;
        outline: none;
    }

    .notice {
        color: #aaa
    }

    .user {
        font-weight: 800;
    }


    .self {
        background-color: #f0f0f0;
        padding: 10px;
    }

</style>
