@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* =======================================================
*
* 	Template Style
*
* ======================================================= */
body {
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    background: #fff;
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.offcanvas #page {
    overflow: hidden;
    position: absolute;
}

.offcanvas #page:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.7);
    content: "";
}

a {
    color: #17B794;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #17B794;
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
    color: #000;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 400;
    margin: 0 22px 20px 0;
}

::-webkit-selection {
    color: #fff;
    background: #17B794;
}

::-moz-selection {
    color: #fff;
    background: #17B794;
}

::selection {
    color: #fff;
    background: #17B794;
}

.gtco-container {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


.gtco-nav {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1001;
    background: #fff;
}

@media screen and (max-width: 768px) {
    .gtco-nav {
        padding: 10px 0;
    }
}

.gtco-nav #gtco-logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.gtco-nav #gtco-logo em {
    color: #17B794;
}

@media screen and (max-width: 768px) {
    
    .gtco-nav .menu-1,
    .gtco-nav .menu-2 {
        display: none;
    }
}

.gtco-nav ul {
    padding: 0;
    margin: .4em 0 0 0;
}

.gtco-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    line-height: 1.5;
}

.gtco-nav ul li>a {
    text-transform: uppercase;
    font-size: 13px !important;
    letter-spacing: .05em;
}

.gtco-nav ul li a {
    font-size: 16px;
    padding: 30px 10px;
    color: #3ac1bc;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gtco-nav ul li a:hover,
.gtco-nav ul li a:focus,
.gtco-nav ul li a:active {
    color: #33a3bd;
}

.gtco-nav ul li.has-dropdown {
    position: relative;
}

.gtco-nav ul li.has-dropdown>a {
    position: relative;
    padding-right: 20px !important;
}

.gtco-nav ul li.has-dropdown>a:after {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e921";
    font-style: 10px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 0;
    color: #ccc;
}

.gtco-nav ul li.has-dropdown .dropdown {
    width: 130px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    background: #fff;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.gtco-nav ul li.has-dropdown .dropdown:before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px;
}

.gtco-nav ul li.has-dropdown .dropdown li {
    display: block;
    margin-bottom: 7px;
}

.gtco-nav ul li.has-dropdown .dropdown li:last-child {
    margin-bottom: 0;
}

.gtco-nav ul li.has-dropdown .dropdown li a {
    padding: 2px 0;
    display: block;
    color: #999999;
    line-height: 1.2;
    text-transform: none;
    font-size: 15px;
}

.gtco-nav ul li.has-dropdown .dropdown li a:hover {
    color: #000;
}

.gtco-nav ul li.has-dropdown .dropdown li.active>a {
    color: #000 !important;
}

.gtco-nav ul li.has-dropdown:hover a,
.gtco-nav ul li.has-dropdown:focus a {
    color: #33a3bd;
}

.gtco-nav ul li.btn-cta a {
    color: #17B794;
}

.gtco-nav ul li.btn-cta a span {
    background: #fff;
    padding: 4px 20px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
}

.gtco-nav ul li.btn-cta a:hover span {
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}

.gtco-nav ul li.active>a {
    color: #000 !important;
}

@media screen and (max-width: 480px) {
    #gtco-header .text-left {
        text-align: center !important;
    }
}

@media screen and (max-width: 480px) {
    #gtco-header .btn {
        display: block;
        width: 100%;
    }
}

#gtco-header,
#gtco-counter,
.gtco-bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    
}

.gtco-bg {
    background-position: center center;
    width: 100%;
    float: left;
    position: relative;
    
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    
}

.fade-carousel .carousel-inner .item {}

.fade-carousel .carousel-indicators>li {
    margin: 0 2px;
    background-color: #89eec9;
    border-color: #19ad8d;
    opacity: .6;
}

.fade-carousel .carousel-indicators>li.active {
    width: 13px;
    height: 13px;
    opacity: 1;
}

.gtco-cover {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 550px;
}

.heading-primary-main {
    display: block;
    animation-name: moveInLeft;
    /* dipercepat sedikit */
    animation-timing-function: case-out;
    animation-duration: 2s;
    font-size: 1.2em;
    color: #d3f1ed;
    /* jeda 3detik baru keluar animasi
    animation-delay: 3s; */
    /* 3 kali diulang animasi
    animation-iteration-count: 3; */
}

@keyframes moveInLeft {
    
    /* dari 0 biargakeliatan dl */
    0% {
        opacity: 0;
        /* jarak muncul dari kiri ke kanan sejauh -150 */
        transform: translateX(-150px);
    }
    
    80% {
        /* lebih ke kanan dulu */
        transform: translateX(30px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.gtco-cover.gtco-inner h1 {
    margin-bottom: 0 !important;
}

.gtco-cover a {
    color: #17B794;
}

.gtco-cover a:hover {
    color: white;
}

.gtco-cover .overlay {
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(29, 43, 83, 0.89);
}

.gtco-cover>.gtco-container {
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .gtco-cover {
        height: 600px;
        height: inherit !important;
        padding: 3em 0;
    }
}

.gtco-cover .display-t,
.gtco-cover .display-tc {
    height: 900px;
    display: table;
    width: 100%;
}

@media screen and (max-width: 768px) {
    
    .gtco-cover .display-t,
    .gtco-cover .display-tc {
        height: 600px;
        height: inherit !important;
        padding: 3em 0;
    }
}

.gtco-cover.gtco-cover-sm {
    height: 600px;
}

@media screen and (max-width: 768px) {
    .gtco-cover.gtco-cover-sm {
        height: 400px;
        height: inherit !important;
    }
}

.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc {
    height: 600px;
    display: table;
    width: 100%;
}

@media screen and (max-width: 768px) {
    
    .gtco-cover.gtco-cover-sm .display-t,
    .gtco-cover.gtco-cover-sm .display-tc {
        height: 400px;
        height: inherit !important;
        padding: 3em 0;
    }
}

.gtco-cover.gtco-cover-xs {
    height: 500px;
}

@media screen and (max-width: 768px) {
    .gtco-cover.gtco-cover-xs {
        height: inherit !important;
        padding: 3em 0;
    }
}

.gtco-cover.gtco-cover-xs .display-t,
.gtco-cover.gtco-cover-xs .display-tc {
    height: 500px;
    display: table;
    width: 100%;
}

@media screen and (max-width: 768px) {
    
    .gtco-cover.gtco-cover-xs .display-t,
    .gtco-cover.gtco-cover-xs .display-tc {
        padding: 3em 0;
        height: inherit !important;
    }
}

.gtco-client {
    float: left;
    width: 100%;
    padding: 20px;
    padding-top: 45px;
    background: #f6f6f6;
}

.gtco-client .client img {
    margin-top: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.gtco-services {
    padding: 7em 0;
}

.gtco-services .service {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 2em;
    margin-bottom: 30px;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
    bottom: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 992px) {
    .gtco-services .service {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.gtco-services .service h3 {
    font-size: 18px;
    color: #000;
    text-align: left;
    position: relative;
    padding-left: 30px;
}

.gtco-services .service h3 i {
    position: absolute;
    left: 0;
    top: -0.1em;
    color: #17B794;
    font-size: 22px !important;
}

.gtco-services .service p {
    text-align: left;
    color: #898989;
    font-size: 15px;
}

.gtco-services .service p:last-child {
    margin-bottom: 0;
}

.gtco-services .service.changed {
    bottom: -7em;
}

@media screen and (max-width: 768px) {
    .gtco-services .service.changed {
        bottom: 0;
    }
}

.gtco-products .one-row,
.gtco-products .two-row {
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.gtco-products .two-row {
    height: 239px;
}

.gtco-products .one-row {
    height: 508px;
}

.gtco-products .gtco-item {
    position: relative;
}

.gtco-products .gtco-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gtco-products .gtco-item .overlay i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    z-index: 14;
    color: #fff;
}

.gtco-products .gtco-item .overlay .copy {
    bottom: -20px;
    position: absolute;
    left: 0;
    padding: 20px;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.gtco-products .gtco-item .overlay .copy h3 {
    color: #fff;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
}

.gtco-products .gtco-item .overlay .copy p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.gtco-products .gtco-item .overlay .copy p:last-child {
    margin-bottom: 0;
}

.gtco-products .gtco-item .overlay:before {
    z-index: 7;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #3dcdbc;
    background: -moz-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #3dcdbc), color-stop(100%, #33a1bd));
    background: -webkit-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -o-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -ms-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3dcdbc', endColorstr='#33a1bd', GradientType=1);
}

.gtco-products .gtco-item:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.gtco-products .gtco-item:hover .overlay .copy {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.gtco-testimonial .gtco-testimony {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.gtco-testimonial .gtco-left>div {
    display: table-cell;
    float: left;
    width: 80px;
}

.gtco-testimonial .gtco-left>div img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    max-width: 100% !important;
}

.gtco-testimonial .gtco-left>blockquote {
    padding-left: 20px;
    display: table-cell;
    border-left: none;
    margin: 0;
    padding: 0 0 0 30px;
}

.gtco-testimonial .gtco-left>blockquote p {
    font-style: 16px;
    font-style: italic;
}

.gtco-testimonial .gtco-left>blockquote .author {
    color: #666666;
    display: block;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
}

#gtco-footer {
    background: #262626;
    padding: 7em 0 0 0 !important;
    margin-bottom: 0 !important;
    width: 100%;
    float: left;
}

#gtco-footer a:hover {
    color: #fff !important;
}

#gtco-footer .gtco-cta {
    margin-bottom: 30px;
}

#gtco-footer .gtco-cta h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

#gtco-footer .gtco-cta .btn-white {
    padding: 15px 20px !important;
}

#gtco-footer .gtco-cta .btn-white.btn-outline:hover {
    color: #000 !important;
}

#gtco-footer .gtco-footer-paragraph h3 {
    color: #fff;
    margin-bottom: 10px;
}

#gtco-footer .gtco-footer-link {
    padding-left: 30px;
}

@media screen and (max-width: 768px) {
    #gtco-footer .gtco-footer-link {
        padding-left: 15px;
    }
}

#gtco-footer .gtco-footer-link .gtco-list-link {
    padding: 0;
    margin: 0;
}

#gtco-footer .gtco-footer-link .gtco-list-link li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#gtco-footer .gtco-footer-link .gtco-list-link li a {
    text-transform: uppercase;
    font-size: 13px !important;
}

#gtco-footer .gtco-footer-subscribe {
    padding-left: 30px;
}

@media screen and (max-width: 768px) {
    #gtco-footer .gtco-footer-subscribe {
        padding-left: 15px;
    }
}

#gtco-footer .gtco-footer-subscribe .form-control {
    background: #fff !important;
    border: none !important;
}

#gtco-footer .gtco-footer-subscribe .btn {
    margin-top: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    height: 54px !important;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#gtco-footer .gtco-copyright {
    background: #1a1a1a;
    padding: 30px 0;
    float: left;
    width: 100%;
}

#gtco-footer .gtco-copyright p:last-child {
    margin-bottom: 0;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bg-text {
    text-align: center;
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

.gtco-staff,
.gtco-item {
    margin-bottom: 4em;
    float: left;
    width: 100%;
    display: block;
}

@media screen and (max-width: 768px) {
    
    .gtco-staff,
    .gtco-item {
        margin-bottom: 3em;
    }
}

.gtco-staff img,
.gtco-item img {
    margin-bottom: 40px !important;
}

.gtco-staff h2,
.gtco-item h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.gtco-staff p,
.gtco-item p {
    margin-bottom: 30px;
    color: #777;
}

.gtco-staff .role,
.gtco-item .role {
    color: #bfbfbf;
    margin-bottom: 20px;
    font-weight: normal;
    display: block;
}

.gtco-staff .fh5co-social,
.gtco-item .fh5co-social {
    padding: 0;
    margin: 0;
}

.gtco-staff .fh5co-social li,
.gtco-item .fh5co-social li {
    padding: 0;
    margin: 0 10px 0 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.gtco-staff .fh5co-social li a,
.gtco-item .fh5co-social li a {
    font-size: 20px;
    color: #17b794;
}

.gtco-staff .fh5co-social li a:hover,
.gtco-item .fh5co-social li a:hover {
    color: #000;
}

.gtco-social-icons {
    margin: 0;
    padding: 0;
}

.gtco-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.gtco-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #17B794;
    padding-left: 10px;
    padding-right: 10px;
}

.gtco-social-icons li a i {
    font-size: 20px;
}

.gtco-contact-info {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    position: relative;
}

.gtco-contact-info ul {
    padding: 0;
    margin: 0;
}

.gtco-contact-info ul li {
    padding: 0 0 0 50px;
    margin: 0 0 30px 0;
    list-style: none;
    position: relative;
}

.gtco-contact-info ul li:before {
    color: #cccccc;
    position: absolute;
    left: 0;
    top: .05em;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gtco-contact-info ul li.address:before {
    font-size: 30px;
    content: "\e9d1";
}

.gtco-contact-info ul li.phone:before {
    font-size: 23px;
    content: "\e9f4";
}

.gtco-contact-info ul li.email:before {
    font-size: 23px;
    content: "\e9da";
}

.gtco-contact-info ul li.url:before {
    font-size: 23px;
    content: "\e9af";
}

#map {
    width: 100%;
    height: 500px;
    position: relative;
}

@media screen and (max-width: 768px) {
    #map {
        height: 200px;
    }
}

form label {
    font-weight: normal !important;
}

#gtco-header {
    background: #3dcdbc;
    background: -moz-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -webkit-gradient(left top,
    right top,
    color-stop(0%, #3dcdbc),
    color-stop(100%, #33a1bd));
    background: -webkit-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -o-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -ms-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3dcdbc', endColorstr='#33a1bd', GradientType=1);
}

#gtco-header p {
    color: #d3f1ed;
    font-size: 20px;
    margin-bottom: 40px !important;
}

#gtco-header h1 {
    font-size: 50px;
    line-height: 1.2 !important;
    margin-bottom: 30px !important;
    color: #d3f1ed;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #gtco-header h1 {
        line-height: 1.2 !important;
    }
}

#gtco-header h1.no-margin {
    margin-bottom: 0 !important;
}

#gtco-header .copy {
    margin-top: 0em;
}

#gtco-header .btn {
    color: #34a7bd !important;
    text-shadow: none !important;
}

#gtco-header .header-img {
    margin-bottom: 30px;
}

#gtco-header .display-tc,
#gtco-counter .display-tc,
.gtco-cover .display-tc {
    display: table-cell !important;
    vertical-align: middle;
}

#gtco-header .display-tc h1,
#gtco-header .display-tc h2,
#gtco-counter .display-tc h1,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h1,
.gtco-cover .display-tc h2 {
    margin: 0;
    padding: 0;
    color: white;
}

#gtco-header .display-tc h1,
#gtco-counter .display-tc h1,
.gtco-cover .display-tc h1 {
    margin-bottom: 0px;
    font-size: 59px;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    
    #gtco-header .display-tc h1,
    #gtco-counter .display-tc h1,
    .gtco-cover .display-tc h1 {
        font-size: 34px;
        line-height: 1.2;
        margin-bottom: 10px;
    }
}

#gtco-header .display-tc h2,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h2 {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 30px;
}

#gtco-counter {
    text-align: center;
}

#gtco-counter .counter {
    font-size: 50px;
    margin-bottom: 10px;
    color: #17B794;
    font-weight: 100;
    display: block;
}

#gtco-counter .counter-label {
    margin-bottom: 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: .1em;
}

@media screen and (max-width: 768px) {
    #gtco-counter .feature-center {
        margin-bottom: 50px;
    }
}

#gtco-counter .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    margin-bottom: 20px;
    background: none !important;
    border: none !important;
}

#gtco-counter .icon i {
    height: 70px;
}

#gtco-counter .icon i:before {
    color: #cccccc;
    display: block;
    text-align: center;
    margin-left: 3px;
}

.gtco-section {
    padding: 2px;
    clear: both;
    position: relative;
}

@media screen and (max-width: 768px) {
    .gtco-section {
        padding: 3em 0;
    }
}

.gtco-section.border-bottom {
    border-bottom: 1px solid #d9d9d9;
}

.gtco-section.gtco-gray {
    background: #f6f6f6;
}

.gtco-heading {}

.gtco-heading.gtco-heading-sm {
    margin-bottom: 2em;
}

.gtco-heading h2 {
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #4d4d4d;
    font-weight: 300;
}

.gtco-heading p {
    font-size: 18px;
    line-height: 1.7;
    color: #898989;
}

#gtco-offcanvas {
    position: absolute;
    z-index: 1901;
    width: 270px;
    background: black;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 45px 40px 40px 40px;
    overflow-y: auto;
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    #gtco-offcanvas {
        display: block;
    }
}

.offcanvas #gtco-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

#gtco-offcanvas a {
    color: rgba(255, 255, 255, 0.5);
}

#gtco-offcanvas a:hover {
    color: rgba(255, 255, 255, 0.8);
}

#gtco-offcanvas ul {
    padding: 0;
    margin: 0;
}

#gtco-offcanvas ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#gtco-offcanvas ul li>ul {
    padding-left: 20px;
    display: none;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown>a {
    display: block;
    position: relative;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown>a:after {
    position: absolute;
    right: 0px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e921";
    font-size: 20px;
    color: rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.uppercase {
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gototop.active {
    opacity: 1;
    visibility: visible;
}

.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.gototop a:hover,
.gototop a:active,
.gototop a:focus {
    text-decoration: none;
    outline: none;
}

.gtco-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
}

.gtco-nav-toggle.active i::before,
.gtco-nav-toggle.active i::after {
    background: #444;
}

.gtco-nav-toggle:hover,
.gtco-nav-toggle:focus,
.gtco-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}

.gtco-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    transition: all .2s ease-out;
}

.gtco-nav-toggle i::before,
.gtco-nav-toggle i::after {
    content: '';
    width: 25px;
    height: 2px;
    background: #252525;
    position: absolute;
    left: 0;
    transition: all .2s ease-out;
}

.gtco-nav-toggle.gtco-nav-white>i {
    color: #fff;
    background: #fff;
}

.gtco-nav-toggle.gtco-nav-white>i::before,
.gtco-nav-toggle.gtco-nav-white>i::after {
    background: #fff;
}

.gtco-nav-toggle i::before {
    top: -7px;
}

.gtco-nav-toggle i::after {
    bottom: -7px;
}

.gtco-nav-toggle:hover i::before {
    top: -10px;
}

.gtco-nav-toggle:hover i::after {
    bottom: -10px;
}

.gtco-nav-toggle.active i {
    background: transparent;
}

.gtco-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.gtco-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.gtco-nav-toggle {
    position: absolute;
    right: 0px;
    top: 8px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none !important;
}

@media screen and (max-width: 768px) {
    .gtco-nav-toggle {
        display: block;
    }
}

.category-button a {
    margin-right: 4px;
    margin-bottom: 15px;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 13px;
    font-weight: 700 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    letter-spacing: 2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 20px 30px;
    text-transform: uppercase;
    text-shadow: none !important;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.category-button a:hover,
.category-button a:active,
.category-button a:focus {
    outline: none !important;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.post-nav {
    margin-right: 4px;
    margin-bottom: 15px;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 10px;
    font-weight: 700 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    letter-spacing: 2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 10px 20px;
    text-transform: uppercase;
    text-shadow: none !important;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}


.btn-primary {
    background: #17B794;
    color: #fff;
    border: 2px solid #17B794 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #1acea6 !important;
    border-color: #1acea6 !important;
}

.btn-primary.btn-outline {
    background: transparent;
    color: #17B794;
    border: 2px solid #17B794;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
    background: #17B794;
    color: #fff;
}

.btn-success {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important;
}

.btn-success.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c;
}

.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
    background: #5cb85c;
    color: #fff;
}

.btn-info {
    background: #5bc0de;
    color: #fff;
    border: 2px solid #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important;
}

.btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de;
}

.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
    background: #5bc0de;
    color: #fff;
}

.btn-warning {
    background: #f0ad4e;
    color: #fff;
    border: 2px solid #f0ad4e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
    background: #eea236 !important;
    border-color: #eea236 !important;
}

.btn-warning.btn-outline {
    background: transparent;
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
    background: #f0ad4e;
    color: #fff;
}

.btn-danger {
    background: #d9534f;
    color: #fff;
    border: 2px solid #d9534f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
    background: transparent;
    color: #d9534f;
    border: 2px solid #d9534f;
}

.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
    background: #d9534f;
    color: #fff;
}

.btn-white {
    background: #fff;
    color: #000;
    border: 2px solid #fff;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
    color: #000;
    background: #fff;
    border-color: #fff;
}

.btn-white.btn-outline {
    color: #fff;
    border: 2px solid #fff;
}

.btn-white.btn-outline:hover,
.btn-white.btn-outline:focus,
.btn-white.btn-outline:active {
    background: #fff;
    color: #000 !important;
    border: 2px solid #fff;
}

.btn-special {
    background: #00ffa3;
    color: #239c71;
    border: 2px solid #00ffa3;
}

.btn-special:hover,
.btn-special:focus,
.btn-special:active {
    color: #239c71;
    background: #00ffa3;
    border-color: #00ffa3;
}

.btn-special.btn-outline {
    color: #fff;
    border: 2px solid #00ffa3;
}

.btn-special.btn-outline:hover,
.btn-special.btn-outline:focus,
.btn-special.btn-outline:active {
    background: #fff;
    color: #000;
    border: 2px solid #00ffa3;
}

.btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    box-shadow: none;
}

.btn.with-arrow {
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.btn.with-arrow:hover {
    padding-right: 50px;
}

.btn.with-arrow:hover i {
    color: #fff;
    right: 18px;
    visibility: visible;
    opacity: 1;
}

.form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
}

.form-control:active,
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #17B794;
}

.row-pb-md {
    padding-bottom: 1em !important;
}

.row-pb-sm {
    padding-bottom: 2em !important;
}

.gtco-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .gtco-nav .gtco-contact {
        text-align: left !important;
    }
}

.gtco-nav .gtco-contact ul {
    padding: 0;
    margin: 0 0 20px 0;
}

.gtco-nav .gtco-contact ul li {
    padding: 0;
    margin: 0;
}

.gtco-nav .gtco-contact ul li a {
    font-size: 14px;
    font-weight: bold !important;
    margin-left: 0px;
}

.gtco-nav .gtco-contact ul li a i {
    color: #17B794;
}

.gtco-nav .gtco-contact ul li a:hover i {
    color: #fff;
}

#gtco-features-3 {
    position: relative;
    top: -7em;
}

@media screen and (max-width: 768px) {
    #gtco-features-3 {
        top: -2em;
    }
}

#gtco-features-3 .feature {
    width: 33.33%;
    float: left;
    padding: 30px;
    background: #17B794;
    position: relative;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #gtco-features-3 .feature {
        width: 100%;
        margin-bottom: 30px;
    }
}

#gtco-features-3 .feature h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#gtco-features-3 .feature p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 1.7;
}

#gtco-features-3 .feature .icon {
    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto 10px auto;
    position: relative;
    background: #15a989;
    top: -3em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#gtco-features-3 .feature .icon i {
    line-height: 90px;
    height: 90px;
    font-size: 40px;
    color: #fff;
}

#gtco-features-3 .feature .icon i:before {
    display: block;
    text-align: center;
    margin-left: 3px;
}

#gtco-features-3 .feature.feature-1 {
    z-index: 7;
}

#gtco-features-3 .feature.feature-2 {
    bottom: 0px;
    z-index: 10;
    -webkit-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
    background: #15a585;
}

@media screen and (max-width: 768px) {
    #gtco-features-3 .feature.feature-2 {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
}

#gtco-features-3 .feature.feature-2 .icon {
    background: #13977a;
}

#gtco-features-3 .feature.feature-2 .feature-inner {
    top: -3em;
    position: relative;
}

@media screen and (max-width: 768px) {
    #gtco-features-3 .feature.feature-2 .feature-inner {
        top: 0;
    }
}

#gtco-features-3 .feature.feature-2:before {
    position: absolute;
    top: -50px;
    content: "";
    background: #15a585;
    height: 50px;
    width: 100%;
    left: 0;
}

@media screen and (max-width: 768px) {
    #gtco-features-3 .feature.feature-2:before {
        display: none;
    }
}

#gtco-features-3 .feature.feature-2:after {
    position: absolute;
    bottom: -30px;
    content: "";
    background: #15a585;
    height: 30px;
    width: 100%;
    left: 0;
}

@media screen and (max-width: 768px) {
    #gtco-features-3 .feature.feature-2:after {
        display: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
}

#gtco-features-3 .feature.feature-3 {
    z-index: 7;
    background: #129377;
}

#gtco-features-3 .feature.feature-3 .icon {
    background: #118a6f;
}

.gtco-flex {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    float: left;
}

#gtco-portfolio {
    padding: 7em 0;
    background: #303841;
    min-height: 500px;
}

@media screen and (max-width: 768px) {
    #gtco-portfolio {
        padding: 3em 0;
    }
}

#gtco-portfolio .gtco-heading h2 {
    color: #fff;
}

#gtco-portfolio .gtco-heading p {
    color: rgba(255, 255, 255, 0.7);
}

#gtco-portfolio-list {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
}

#gtco-portfolio-list li {
    display: block;
    padding: 0;
    margin: 0 0 10px 1%;
    list-style: none;
    min-height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    clear: left;
    position: relative;
}

@media screen and (max-width: 480px) {
    #gtco-portfolio-list li {
        margin-left: 0;
    }
}

#gtco-portfolio-list li a {
    min-height: 400px;
    padding: 2em;
    position: relative;
    width: 100%;
    display: block;
}

#gtco-portfolio-list li a:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: 80;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#gtco-portfolio-list li a.color-1:before {
    background: rgba(55, 75, 84, 0.7);
}

#gtco-portfolio-list li a.color-1:hover:before {
    background: rgba(55, 75, 84, 0);
}

#gtco-portfolio-list li a.color-2:before {
    background: rgba(37, 190, 213, 0.7);
}

#gtco-portfolio-list li a.color-2:hover:before {
    background: rgba(37, 190, 213, 0);
}

#gtco-portfolio-list li a.color-3:before {
    background: rgba(239, 172, 147, 0.7);
}

#gtco-portfolio-list li a.color-3:hover:before {
    background: rgba(239, 172, 147, 0);
}

#gtco-portfolio-list li a.color-4:before {
    background: rgba(249, 17, 40, 0.7);
}

#gtco-portfolio-list li a.color-4:hover:before {
    background: rgba(249, 17, 40, 0);
}

#gtco-portfolio-list li a.color-5:before {
    background: rgba(252, 68, 40, 0.7);
}

#gtco-portfolio-list li a.color-5:hover:before {
    background: rgba(252, 68, 40, 0);
}

#gtco-portfolio-list li a.color-6:before {
    background: rgba(98, 177, 215, 0.7);
}

#gtco-portfolio-list li a.color-6:hover:before {
    background: rgba(98, 177, 215, 0);
}

#gtco-portfolio-list li a .case-studies-summary {
    width: auto;
    bottom: 2em;
    left: 2em;
    right: 2em;
    position: absolute;
    z-index: 100;
}

@media screen and (max-width: 768px) {
    #gtco-portfolio-list li a .case-studies-summary {
        bottom: 1em;
        left: 1em;
        right: 1em;
    }
}

#gtco-portfolio-list li a .case-studies-summary span {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
}

#gtco-portfolio-list li a .case-studies-summary h2 {
    color: #fff;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    #gtco-portfolio-list li a .case-studies-summary h2 {
        font-size: 20px;
    }
}

#gtco-portfolio-list li.two-third {
    width: 65.6%;
}

@media screen and (max-width: 768px) {
    #gtco-portfolio-list li.two-third {
        width: 49%;
    }
}

@media screen and (max-width: 480px) {
    #gtco-portfolio-list li.two-third {
        width: 100%;
    }
}

#gtco-portfolio-list li.one-third {
    width: 32.3%;
}

@media screen and (max-width: 768px) {
    #gtco-portfolio-list li.one-third {
        width: 49%;
    }
}

@media screen and (max-width: 480px) {
    #gtco-portfolio-list li.one-third {
        width: 100%;
    }
}

#gtco-portfolio-list li.one-half {
    width: 49%;
}

@media screen and (max-width: 480px) {
    #gtco-portfolio-list li.one-half {
        width: 100%;
    }
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
    margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    top: 25% !important;
    z-index: 1001;
    position: absolute;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: -170px;
}

@media screen and (max-width: 992px) {
    
    .owl-carousel .owl-controls .owl-nav .owl-next,
    .owl-carousel-posts .owl-controls .owl-nav .owl-next {
        right: -50px;
    }
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: -170px;
}

@media screen and (max-width: 992px) {
    
    .owl-carousel .owl-controls .owl-nav .owl-prev,
    .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
        left: -50px;
    }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
    color: #000;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
    color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
    color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
    color: #000;
}

@media screen and (max-width: 768px) {
    .owl-theme .owl-controls .owl-nav {
        display: none;
    }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
    color: #cccccc;
    font-size: 24px;
    padding: 12px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
    color: #000;
}

.owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
    bottom: 0;
    margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background: #cccccc;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.owl-theme .owl-dots .owl-dot span:hover {
    background: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: none;
    background: #4d4d4d;
}

/*# sourceMappingURL=style.css.map */


/* Search Animation in Blog */
.search-wrapper {
    position: relative;
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 73%;
    
}


.search-wrapper .input-holder {
    overflow: hidden;
    height: 70px;
    background: rgba(255, 255, 255, 0);
    border-radius: 6px;
    position: relative;
    width: 70px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.search-wrapper.active .input-holder {
    border-radius: 50px;
    width: 450px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
    width: 100%;
    height: 50px;
    padding: 0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    -webkit-transform: translate(0, 60px);
    color: #FFF;
    -moz-transform: translate(0, 60px);
    transform: translate(0, 60px);
    -webkit-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    transform: translate(0, 10px);
}

.search-wrapper .input-holder .search-icon {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 6px;
    background: #FFF;
    padding: 0px;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.search-wrapper.active .input-holder .search-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 30px;
}

.search-wrapper .input-holder .search-icon span {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    -moz-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    
}

.search-wrapper.active .input-holder .search-icon span {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.search-wrapper .input-holder .search-icon span::before,
.search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content: '';
}

.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #974BE0;
}

.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #974BE0;
}

.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top: 24px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -moz-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.search-wrapper.active .close {
    right: -50px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.search-wrapper .close::before,
.search-wrapper .close::after {
    position: absolute;
    content: '';
    background: #FFF;
    border-radius: 2px;
}

.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}

.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}

.search-wrapper .result-container {
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0px;
    text-align: center;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 14px;
    display: none;
    color: #B7B7B7;
}

@media screen and (max-width: 560px) {
    .search-wrapper.active .input-holder {
        width: 200px;
    }
}

/* end animation */


/* CardviewBlog */

.col-md-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

body {
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    background: rgb(243, 240, 240);
}

.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    /*min-width: 270px;
    height: 470px;*/
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.post-module:hover,
.hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.post-module:hover .thumbnail img,
.hover .thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .6;
}

.post-module .thumbnail {
    background: transparent;
    height: 400px;
    overflow: hidden;
}

.post-module .thumbnail .date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: #e74c3c;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.post-module .thumbnail .date .day {
    font-size: 18px;
}

.post-module .thumbnail .date .month {
    font-size: 12px;
    text-transform: uppercase;
}

.post-module .thumbnail img {
    display: block;
    width: 120%;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.post-module .post-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 30px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.post-module .post-content .category {
    position: absolute;
    top: -34px;
    left: 0;
    background: #e74c3c;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
}

.post-module .post-content .sub_title {
    margin: 0;
    padding: 0 0 20px;
    color: #e74c3c;
    font-size: 20px;
    font-weight: 400;
}

.post-module .post-content .description {
    display: none;
    color: #666666;
    font-size: 14px;
    line-height: 1.8em;
    
}

.post-module .post-content .post-meta {
    margin: 30px 0 0;
    color: #999999;
}

.post-module .post-content .post-meta .timestamp {
    margin: 0 16px 0 0;
}

.post-module .post-content .post-meta a {
    color: #999999;
    text-decoration: none;
}

.hover .post-content .description {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
}

.container {
    /*max-width: 800px;*/
    /*min-width: 640px;*/
    margin: 0 auto;
}

.container:before,
.container:after {
    content: '';
    display: block;
    clear: both;
}

.container .column {
    width: 100%;
    /*padding: 0 25px;*/
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.container .column .demo-title {
    margin: 0 0 15px;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.container .info {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

.container .info span {
    color: #666666;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #e74c3c;
}

#page>.pagination {
    margin: 30px auto !important;
}

.foot .social-share {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.foot .social-share li {
    float: left;
}

.foot .social-share li a {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}

.category-button {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    padding: 5px;
    width: 14.2em;
    margin-top: 10px;
    text-align: center;
}

/* endCardViewBLog */


/* PostView */
/* cardPost_View */
.bannerpost {
    width: 100%;
    height: 650px;
    display: block;
    position: relative;
}


@media screen and (max-width: 768px) {
    .bannerpost {
        height: 650px;
        display: block;
        height: inherit !important;
        
    }
}

.cardPostView {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: block;
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 4em;
    background-color: white;
    margin-bottom: 2em;
    
}

.commentBox {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 1em;
    margin-right: 1em;
    background-color: white;
    margin-bottom: 2em;
}

.cardPostView:hover {
    box-shadow: 0 8px 16px 0 rgba(5, 1, 1, 0.2);
}

.containerPostView {
    padding: 2px 16px;
}

.authorimg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.foot {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

/* .share{
    padding-right: 500px;
} */

.faicon {
    padding: 18px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook-icon {
    background: #3B5998;
    color: white;
    
}

.fa-instagram-icon {
    background: #cbd2d8;
    color: white;
}

.panel-group {
    /* margin-right: 70px;
    margin-left: 70px; */
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: auto;
}

.img-responsive {
    width: 150px;
    height: 150px;
    position: relative;
}

#custom_carousel .item {
    color: #000;
    background-color: #eee;
    padding: 20px 0;
}

#custom_carousel .controls {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background: #ddd
}

#custom_carousel .controls li {
    display: table-cell;
    width: 8%;
    max-width: 90px
}

#custom_carousel .controls li.active {
    background-color: #eee;
    border-top: 3px solid orange;
}

#custom_carousel .controls a small {
    overflow: hidden;
    display: block;
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold
}


/* FlexBlox Komunitas */
.flex-container {
    
    display: flex;
    justify-content: left;
    /* background-color: DodgerBlue; */
    flex-wrap: wrap;
    background-color: #f1f1f1;
}

.flex-container_1 {
    display: flex;
    justify-content: left;
    /* background-color: DodgerBlue; */
    flex-wrap: wrap;
    background-color: white;
    padding: 15px;
}

.flex-container>div {
    background-color: white;
    width: 370px;
    height: 280px;
    margin: 10px;
    text-align: center;
    /* line-height: 200px; */
    font-size: 15px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.img-responsive {
    border-radius: 50%;
}

.post-content-view {
    display: block !important;
    width: 100%;
    word-wrap: break-word;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.btn-register-komunitas {
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: 0.3em;
    color: rgba(223, 190, 106, 0.7);
    border-radius: 0;
    padding: 18px 80px 20px;
    transition: all 0.7s ease-out;
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
    font-family: 'PT Sans', sans-serif;
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 0.625rem;
    border: none;
    border: 1px solid rgba(223, 190, 106, 0.3);
}

.btn-register-komunitas:hover {
    color: #fff;
    border: 1px solid rgba(223, 190, 106, 0);
    color: #fff;
    background-position: right center;
}

/* ListMemberKomunitas */
/*Business Card Css */
.business-card {
    border: 1px solid #cccccc;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.profile-img {
    width: 150px;
    height: 150px;
}

.job {
    color: #666666;
    font-size: 17px;
}

.mail {
    font-size: 16px;
}

.list-group {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Komunitas blog */
.card-banner-komunitas {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    background-size: cover;
    border-radius: 5px;
    height: 250px;
    
}

.card-banner-komunitas .card-body {
    background-size: cover;
    position: relative;
    z-index: 10;
    
}


/* overlay effects */
.overlay-cover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    
}

.overlay-komunitas {
    background-color: rgba(48, 47, 47, 0.65);
    z-index: 10;
    padding: 1.25rem;
    color: #fff;
    height: 100px;
    margin-top: 38%;
    
}

.overlay-komunitas:hover {
    background: -webkit-gradient(linear, left top, right bottom, from(#20b8e6), to(rgb(52, 212, 124)));
    opacity: .8;
}

.card-title {
    position: relative;
    font-size: 19px;
    font-weight: bold;
    color: #d0d3d4;
}

.card-title-wisata {
    position: relative;
    font-size: 33px;
    font-weight: bold;
    color: #303841;
}

.overlay-grad {
    position: relative;
}

.overlay-grad::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e83e8c;
    background: -webkit-gradient(linear, left top, right bottom, from(#007bff), to(#e83e8c));
    background: linear-gradient(to bottom right, #007bff, #e83e8c);
    opacity: .6;
    transition: .5s;
}

.overlay-grad:hover:before {
    opacity: .9;
}

.card-banner-komunitas:hover,
.hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.card-banner-komunitas:hover .card-body,
.hover .card-body {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .6;
}

.card-banner-komunitas .img {
    /* display: block; */
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

/* end blog komunitas */

/* Wisata */

.card-filter {
    display: block;
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-filter .card-body{
    padding: 15px;
}

.card-title {
    color: #434343;
}



.list-group-item .fav-box {
    position: absolute;
    right: 30px;
    font-size: 20px;
    top: 4px;
    color: #E74C3C;
}

.head-info {
    background-color: #FFFFFF;
    position: relative;
    display: block;
}
.head-info img {
    width: 290px;
    height: 195px;
    display: block;
    position: relative;
}
.bg{
    background-image : url("../images/bg-login.jpg");
}

a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.media-list-img {
    width: 160px;
    height: 180px;
    border-radius: 8px;
    display: block;
    position: relative;
}
.stars {
    margin:5px auto 1px;    
}
.list-group-item-include { 
    font-size: 13px;
}
.rating-wisata {
    font-size: 14px;
}
.btn-book {
    background: -webkit-gradient(linear, left top, right bottom, from(#e83e8c), to( #f02813));
    color: white;
}



/* komentar-wisata */
.comment-list .row {
    margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border:none;
    /*Panel-heading border radius*/
    border-top-right-radius:0px;
    top: 1px;
}
.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius:0px;
    right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}
.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        /*Change for different outline color*/
        border-right-color: #FFFFFF;
        border-width: 15px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 15px;
    }
}
.comment-list .comment-post {
    margin-top: 6px;
}
.card-hover-deksripsi {
    background-color:  #f0f0f0;
    padding: 15px;
}
.card-hover-deksripsi h3 {
    color: #434343;
    font-size: 20px;
    font-weight: 600;
    
}

.card-wisata-detail {
    position: absolute;
    top:50%;
    width: 199px;
    color: #fff !important;
    font-size: 19px;
    font-weight: 400;
    overflow-wrap:break-word;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.text-kota {
    align-content: center;
    text-align: center !important;
    color:#fff;
    font-size: 46px;
    margin-top:28%;
    margin-left: 23%;
    font-weight: 580;
    position: absolute;

}