<template>
    <!-- <div class="container">
        <div class="row"> -->
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading top-bar">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span> Contacts</h3>
                    </div>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr v-for="chats in friends" :key="chats.id">
                                <td>{{chats.name}}</td>
                                <td :class="(onlineChat.find(user=>user.id===chats.id))?'text-success':'text-danger'">Status</td>
                                <td><a onclick="activeChat=chats.id" class="btn btn-primary" role="button">Chat</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



            <div class="col-sm-6">
                <div class="chatbody">
                    <div class="panel panel-primary">
                        <div class="panel-heading top-bar">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat</h3>
                        </div>
                        <div class="panel-body msg_container_base" >
                            <div class="row">
                                <div class="messages msg_sent" v-for="(message, index) in allMessages" :key="index">
                                      
                                    <p :class="(user.id!== message.user.id)?'alert alert-danger':'alert alert-success'">
                                        <span :class="(user.id !== message.user_id)?' badge  ':'badge pull-right'" >
                                        ({{message.user.name}})
                                       </span>  
                                         {{message.message}}</p>
                                      <small :class="(user.id !== message.user_id)?'pull-left':'pull-right'">
                                        {{message.created_at}}
                                    </small>
                                    
                                </div>
                            </div>
                            <!-- <div class="row msg_container base_receive">
                                <div class="col-md-2 col-xs-2 avatar">
                                    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg"
                                        class=" img-responsive ">
                                </div>
                                <div class="col-md-10 col-xs-10">
                                    <div class="messages msg_receive">
                                        <p>that mongodb thing looks good, huh?
                                            tiny master db, and huge document store</p>
                                        <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" v-model="message"  type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                                <span class="input-group-btn">
                                    <a onclick="sendMessage" class="btn btn-primary btn-sm" id="btn-chat"><i class="fa fa-send fa-1x"
                                            aria-hidden="true"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
       <!--  </div>
    </div> -->
</template>

<script>
    export default {
        props: ['user'],

        data: {
            return {
                message: null,
                activeChat: null,
                onlineChat: [],
                allMessages: [],
                users: [],
            }
        },
        computed: {
            friends() {
                return this.users.filter((user) => {
                    return user.id !== this.user.id;
                })
            }
        },
        watch: {
            activeChat(val) {
                this.fetchMessages();
            }
        },
        methods: {

            sendMessage() {
                //check if there message
                if (!this.message) {
                    return alert('Masukan Pesan');
                }
                if (!this.activeChat) {
                    return alert('pilih orang');
                }
                axios.post('/private-messages/' + this.activeChat, {
                    message: this.message
                }).then(response => {
                    this.message = null;
                    this.allMessages.push(response.data.message)
                    setTimeout(this.scrollToEnd, 100);
                });
            },
            fetchMessages() {
                if (!this.activeChat) {
                    return alert('pilih orang terlebih dahulu');
                }
                axios.get('/private-messages/' + this.activeChat).then(response => {
                    this.allMessages = response.data;
                });
            },
            fetchUsers() {
                axios.get('/users').then(response => {
                    this.users = response.data;
                    if (this.friends.length > 0) {
                        this.activeChat = this.friends[0].id;
                    }
                });
            },

        },
        mounted() {},
        created() {
            Fire.$on('AfterCreate', () => {
                this.fetchMessages();
            });
            this.fetchUsers();
            Echo.join('chatApp')
                .here((users) => {
                    console.log('online', users);
                    this.onlineChat = users;
                })
                .joining((user) => {
                    this.onlineChat.push(user);
                    console.log('joining', user.name);
                })
                .leaving((user) => {
                    this.onlineChat.splice(this.onlineChat.indexOf(user), 1);
                    console.log('leaving', user.name);
                });

            Echo.private('privatechat.' + this.user.id)
                .listen('PrivateMessageSent', (e) => {
                    console.log('sent')
                    this.activeChat = e.message.user_id;
                    this.allMessages.push(e.message)
                    setTimeout(this.scrollToEnd, 100);
                });
        }

    }

</script>
