.account-box
{
    border-radius: 25px;
    margin-top: 120px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 3;
    font-size: 13px !important;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.logo
{
    width: 300px;
    height: 74px;
    text-align: center;
    margin-right: 120px;
    background-position: 0px -4px;
    position: relative;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.clickcheckbox{
    margin-top: 10px;
    display: block;
}

.login-text h2 {
  color:  #27ae60 ;
  font-weight: 600;
  text-align: center;
}

.login-text h2::after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #FEB58A;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

.forgotLnk
{
    margin-top: 10px;
    display: block;
}
.bg{
    background-image : url("../images/bg-login.jpg");
}

.purple-bg
{
    background-color:  #e74c3c ;
    color: #fff;
}
.or-box
{
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}
.or
{
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 140px;
}
.account-box .btn:hover
{
    color: #fff;
}
.btn-facebook
{
    background-color: #3F639E;
    color: #fff;
    font-weight:bold;
}
.btn-google
{
    background-color: #454545;
    color: #fff;
    font-weight:bold;
}
