<template>
	<div class="input-group">
		<input type="text" name="message" class="form-control input-sm" placeholder="type your message here..." v-model="newMessage" @keyup.enter="sendMessage">
		<span class="input-group-btn">
			<button class="btn btn-primary btn-sm" @click="sendMessage">Send</button>
		</span>
	</div>
</template>

<script>
export default{
props: ['community_id', 'sender'],
data() {
	return {
		newMessage: '',
	}
},
methods: {
	sendMessage() {
		this.$emit('messagesent', {
			message: this.newMessage,
			community_id: this.community_id,
			sender: this.sender
		});
		this.newMessage = '';
	}
}

}
</script>	