<template>
	<ul class="chat">
		<li class="left clearfix" v-for="message in messages" v-if="message.message !== null && message.community_id === community_id">
			<div class="chat-body clearfix">
				<div class="header">
					<strong class="primary-font">{{message.sender}}</strong>
					<p>{{message.message}}</p>
				</div>
			</div>
		</li>
	</ul>
</template>

<script>
export default{
	props: ['messages', 'community_id']
	
};
</script>	