<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 mt-5">
                <div class="chatbody">
                    <div class="panel panel-primary">
                        <div class="panel-heading top-bar">
                            <div class="col-md-8 col-xs-8">
                                <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat Grup</h3>
                            </div>
                        </div>
                        <div class="panel-body msg_container_base">
                            <div :class="(user.id !== message.user.id)? 'row msg_container base_sent':'row msg_container base_receive'"
                                v-for="(message, index) in allMessages" :key="index" v-if="message.receiver_id == NULL">

                                <div class="col-md-2 col-xs-2 avatar" v-if="user.id === message.user_id">
                                    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg"
                                        class="img-responsive">
                                </div>

                                <div class="col-md-10 col-xs-10">
                                    <div :class="(user.id !== message.user_id)?'messages msg_receive':'messages msg_sent'">
                                        <span class="badge"> {{message.user.name}}</span>
                                        <p>{{ message.message }}</p>
                                        <small :class="(user.id !== message.user_id)?'pull-left':'pull-right'"><br>
                                            {{message.created_at}}
                                        </small>
                                    </div>
                                </div>

                                <div class="col-md-2 col-xs-2 avatar" v-if="user.id !== message.user_id">
                                    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg"
                                        class="img-responsive">
                                </div>

                            </div>
                            <!-- <div class="row msg_container base_receive">
                                <div class="col-md-2 col-xs-2 avatar">
                                    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg"
                                        class=" img-responsive ">
                                </div>
                                <div class="col-md-10 col-xs-10">
                                    <div class="messages msg_receive">
                                        <p>that mongodb thing looks good, huh?
                                            tiny master db, and huge document store</p>
                                        <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" v-model="message" type="text" class="form-control input-sm chat_input"
                                    placeholder="Write your message here..." />
                                <span class="input-group-btn">
                                    <a @click="sendMessage" class="btn btn-primary btn-sm" id="btn-chat"><i class="fa fa-send fa-1x"
                                            aria-hidden="true"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user'],
        data() {
            return {
                message: null,
                allMessages: [],
            }
        },
        methods: {
            sendMessage() {
                //check if there message
                if (!this.message) {
                    return alert('Please enter message');
                }
                axios.post('/messages', {
                    message: this.message
                }).then(response => {
                    this.message = null;
                    this.allMessages.push(response.data.message)
                    setTimeout(this.scrollToEnd, 100);
                });
            },
            fetchMessages() {
                axios.get('/messages').then(response => {
                    this.allMessages = response.data;
                });
            },

        },
        mounted() {},
        created() {
            this.fetchMessages();
            Echo.private('chatApp')
                .listen('MessageSent', (e) => {
                    this.allMessages.push(e.message)
                    setTimeout(this.scrollToEnd, 100);
                });
        }

    }

</script>
