<template>
    <ul class="chat">
        <li class="left clearfix" v-for="message in messages" v-if="message.message !== null && message.member_id === member_id && message.customer_id === customer_id">
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">
                        {{ message.sender }}
                    </strong>
                </div>
                <p>
                    {{ message.message }}
                </p>
            </div>
        </li>
    </ul>
</template>

<script>
export default {
  props: ['messages', 'customer_id', 'member_id']
};
</script>